.Deals {
  background-color: white;
  width: 97vw;
  height: 400px;
  margin: 25px;
}
.Deals_title {
  padding: 10px;
  padding-top: 10px;
}
.products_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 330px;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 10px;
}
.product_image {
  height: 250px;
}
.one_product {
  width: 20vw;
  width: 100%;
  cursor: pointer;
}
